# .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio
.vs/
.vscode/

# NuGet
packages/
*.nupkg

# Rider / JetBrains
.idea/

# macOS / Windows junk
.DS_Store
Thumbs.db